.notFound {
  margin: 0 30px;
  text-align: center;

  h1 {
    font-family: monospace, sans-serif;
    font-size: 5rem;
    color: #aaa;
  }

  a {
    font-size: 1.5rem;
    color: #777;
    text-transform: uppercase;
  }
}
